<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-lg font-semibold leading-8 text-gray-900">Trusted by the world’s most innovative teams</h2>
    <div
      class="container">
      <img class="block" src="https://tailwindui.com/img/logos/158x48/transistor-logo-gray-900.svg" alt="Transistor" />
      <img class="block" src="https://tailwindui.com/img/logos/158x48/reform-logo-gray-900.svg" alt="Reform" />
      <img class="block" src="https://tailwindui.com/img/logos/158x48/tuple-logo-gray-900.svg" alt="Tuple" />
      <img
        class="block2"
        src="https://tailwindui.com/img/logos/158x48/savvycal-logo-gray-900.svg"
        alt="SavvyCal" />
      <img
        class="block3"
        src="https://tailwindui.com/img/logos/158x48/statamic-logo-gray-900.svg"
        alt="Statamic" />
    </div>
  </div>
</div>
